{% extends "base.html" %}
{% block content %}

<body>

    <section class="container left">
        <div class="product_details">
            <h2> Create New </h2>
        </div>
        <div class="item_container">
            <a href="/shop/new"> 
                <img class="item_icon" src="/static/assets/misc/staff_03a.png" alt="Magical wand. Select to create a new inventory item!">
            </a>
        </div>
    </section>

    {% for inventory_object in inventory_list %}

    <h2>{{ inventory_object.display_name }}</h2>
    
    <div class="product_details_container">
        <div class="product_details_container_row">
            
            <div class="product_details image">
                <!--  picture links to full item -->
                <form class="item_container" action="/shop/inventory/{{ inventory_object.id }}" method="POST">
                    <input type="image" value="selected_id" class="item_icon" src="/static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword">
                </form>
            </div>
            <div class="product_details name">
                <p>{{ inventory_object.display_name }}</p>
            </div>
            <div class="product_details description">
                <p>{{ inventory_object.product.description }}</p>
            </div>
        </div>

        <div class="product_details_container_row">
            <div class="product_details">
                {% if inventory_object.number_in_stock == 0 %}
                    <div class="product_details">
                        <img src="/static/assets/misc/skull_01b.png" alt="Skull icon, warning of low stock!">
                    </div>
                {% elif inventory_object.number_in_stock <= 10 %}
                    <div class="product_details">
                        <img src="/static/assets/misc/skull_01a.png" alt="Skull icon, warning of low stock!">
                    </div>
                {% endif %}
                <p>Stocking:</p>
                <p>{{inventory_object.number_in_stock}}</p>
            </div>

                
            <div class="product_details">
                <p>Type:</p>
                <p>{{ inventory_object.product.type }}</p>
            </div>
            <div class="product_details">
                <p>Strength:</p>
                <p>{{ inventory_object.product.combat_strength }}</p>
            </div>
            <form class="item_container" action="/shop/inventory/{{ inventory_object.id }}" method="POST">
                <input type="image" value="selected_id" class="item_icon" src="/static/assets/books/book_03d.png" alt="Image of a green hilted, wooden sword">
            </form>
        </div>
    </div>
    {% endfor %}

</body>
{% endblock %}