{% extends "shop/suppliers.html" %}
{% block inventory_display_UX %}

{% for product in product_list %}
    <h3>{{product.name}}</h3>
{% endfor %}


<div class="shop_popup_container" alt="Box menu displaying items owned on the left hand side and options that can be bought on the left.">

    <div id="inventory_display_top_row_border_container">
        <span class="items_row">
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01c.png" alt="Image of a blue hilted, steel sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01d.png" alt="Image of a black hilted, golden sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01c.png" alt="Image of a blue hilted, steel sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01d.png" alt="Image of a black hilted, golden sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
        </span>
    </div>
    
    <div id="inventory_display_avatar_block_container">
        <div class="avatar_block_items_row">
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
            
        </div>
        <div class="avatar_block_items_row" id="inventory_display_avatar_container">
            <div class="item_container" id="avatar_item_container">
                <img class="item_icon" src="/static/assets/books/book_02d.png" alt="Image of a black hilted, golden sword">
            </div>
        </div>
        <div class="avatar_block_items_row">
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
            <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
        </div>
    </div>
    <div class="inventory_display_text_container">
        <div class="avatar_block_text_row">
            <p>We'll receive a name here</p>
            <p>and other data</p>
        </div>
    </div>
</div>


{% endblock %}