{% extends "base.html" %}
{% block content %}

    <div class="product_details_container">
        <div class="product_details_container_row">
            
            <div class="product_details image">
                <div class="item_container"><img class="item_icon" src="/static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword">
                </div>
            </div>

            <div class="product_details name">
                <p>{{ inventory_object.display_name }}</p>
            </div>
            <div class="product_details description">
                <p>{{ inventory_object.product.description }}</p>
            </div>
        </div>

        <div class="product_details_container_row">
            <div class="product_details">
                <p>Type:</p>
                <p>{{ inventory_object.product.type  }}</p></div>
            <div class="product_details">
                <p>Strength:</p>
                <p>{{ inventory_object.product.combat_strength }}</p>
            </div>
            <div class="product_details">
                <p>Retail Price:</p>
                <p>£{{ inventory_object.retail_price }}.00</p>
            </div>
        </div>
    </div>
    <div class="product_details_container">
        <div class="product_details_container_row">
            <div class="product_details">
                <p>Manufacturer:</p>
                <p>{{ inventory_object.product.manufacturer }}</p></div>
            <div class="product_details">
                <p>Available:</p>
                <p>{{ inventory_object.product.taking_orders }}</p>
            </div>
            <div class="product_details">
                <p>Wholesale Cost:</p>
                <p>£{{ inventory_object.product.wholesale_cost }}.00</p>
            </div>
        </div>
        <div class="product_details_container_row">
            <!-- <div class="product_details"> -->
                <form class="item_container" action="/shop/inventory/{{ inventory_object.id }}/edit" method="POST">
                    <input type="image" value="selected_id" class="item_icon" src="/static/assets/books/book_01d.png" alt="Image of a book, click to edit inventory item">
                </form>
            <div class="product_details">
                <p>ID:</p>
                <p>#{{ inventory_object.id }}</p>
            </div>
            <div class="product_details">
                <p>Available:</p>
                <p>{{ inventory_object.product.taking_orders }}</p>
            </div>
            <div class="product_details">
                <p>Stock Holding:</p>
                <p>{{ inventory_object.number_in_stock }}</p>
            </div>
            <form class="item_container" action="/shop/inventory/{{ inventory_object.id }}/edit_stock_holding" method="POST">
                <input type="image" value="selected_id" class="item_icon" src="/static/assets/misc/coin_05d.png" alt="Buy more inventory into stock holding">
            </form>

        </div>
    </div>

{% endblock %}
