{% extends "base.html" %}
{% block content %}

<!-- will be passed an inventory_object from controller to display -->

<h2>Edit: {{inventory_object.display_name}}</h2>

<form class="item_container" action="/shop/inventory/{{ inventory_object.id }}" method="POST">
    <input type="image" value="selected_id" class="item_icon" src="/static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword">
</form>

<form action="/shop/inventory/{{ inventory_object.id }}/edit_submitted" method="POST">
    <label for="display_name">Display Name </label>
    <input type="text" id="display_name" name="display_name" value="{{ inventory_object.display_name }}">
    <input type="submit" value="SAVE">
</form>


{% endblock %}