
{% extends "base.html" %}
{% block content %}


<body>
    <div>
        <h2>Testing Block</h2>
        <div id="test_name">
            <p>Product: </p>
            <p>Description: </p>
            <p>Model:</p>
            <p>Type: </p>
            <p>Strength: </p>
        </div>
    </div>

    <!-- * class Product():
    - name
    - description
    - model
    - type (Armour, hand-weapon, ranged_weapon, magical_weapon, util)
    - combat_strength
    - magical_item (boolean)
    - Manufacturer (object)
    - taking_orders (bool)
    - wholesale_cost
    - id -->

    <!-- for every supplier extend a new block -->
    {% block inventory_display_UX %}
    {% endblock %}


</body>

{% endblock %}




    
