<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Shop Home</title>
</head>
<body>

    <header>
        <nav class="menu_container">
            <div class="product_details_container_row">
                <div class="item_container_menu">
                    <a href="/">Home</a>
                </div>
                <div class="item_container_menu">
                    <a href="/shop/suppliers">Suppliers</a>
                </div>
                <div class="item_container_menu">
                    <a href="/shop/inventory_all">Inventory</a>
                </div>
                <div class="item_container_menu">
                    <a href="/shop/about">About</a>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
