<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>New Shop!</title>
</head>
<body>
    <h1>Welcome to our shop</h1>

    <p>Here are some items for sale: </p>
    
    {% for item in inventory_list %}
    <div>
        <p></p>
        <h2>For Sale: {{item.display_name}} </h2>
        <p>Now only £{{item.retail_price}}</p>
    </div>
    {% endfor %}

    <main class="shop_popup_container" alt="Box menu displaying items owned on the left hand side and options that can be bought on the left.">

        <div id="inventory_display_top_row_border_container">
            <span class="items_row">
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01c.png" alt="Image of a blue hilted, steel sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01d.png" alt="Image of a black hilted, golden sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01c.png" alt="Image of a blue hilted, steel sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01d.png" alt="Image of a black hilted, golden sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
                <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
            </span>
        </div>
        
        <div id="inventory_display_avatar_block_container">
        <div class="avatar_block_items_row">
            <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
            <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
            <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01c.png" alt="Image of a blue hilted, steel sword"></div>
        </div>
        <div class="avatar_block_items_row" id="inventory_display_avatar_container">
            <div class="item_container" id="avatar_item_container"><img class="item_icon" src="static/assets/books/book_02d.png" alt="Image of a black hilted, golden sword"></div>

        </div>
        <div class="avatar_block_items_row">
            <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
            <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
            <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01c.png" alt="Image of a blue hilted, steel sword"></div>
        </div>

    </main>

    <span class="items_row">
        <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01a.png" alt="Image of a green hilted, wooden sword"></div>
        <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01b.png" alt="Image of a golden hilted, steel sword"></div>
        <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01c.png" alt="Image of a blue hilted, steel sword"></div>
        <div class="item_container"><img class="item_icon" src="static/assets/swords/sword_01d.png" alt="Image of a black hilted, golden sword"></div>
    </span>
    
</body>
</html>