body {
    box-sizing: border-box;
    font-size: small;
    background-color: #FED37F;
    color: #57290c;
}
.shop_popup_container{
    /* image 203 x 98 */
    width: 609px;
    height: 294px;
    background-color: red;

    /* Inventory_style_01c.png */
    /* Inventory_style_03d.png */
    background-image: url("/static/assets/menu_bar/Inventory_style_01d.png");
    background-size: 609px 294px;
    background-repeat: no-repeat;
    background-position: center;
}

#inventory_display_top_row_border_container {
    /*  68 + 17 = 85 */
    box-sizing: border-box;
    height: 85px;
    padding-top: 17px;
    padding-left: 17px;
    width: 100%;
}

#inventory_display_avatar_block_container{
    height: 134px;
    width: 230px;
    box-sizing: border-box;

    display: flex;
    /* flex-direction: column; */
    padding-top: 16px;
    padding-left: 18px;
    /* padding-bottom: 17px; */
    padding-right: 7px;
}

.avatar_block_items_row {
    height: 100%;
    width: 60px;

    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 7px;
}

#inventory_display_avatar_container {
    width: 84px;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}
#avatar_item_container{
    height: 108px;
    width: 78px;
    background-image: none;
    margin: 0px;
}

.inventory_display_text_container{
    width: 230px;
    height: 75px;
    padding-top: 0px;
    padding-left: 18px;
    padding-right: 22px;
    padding-bottom: 32px;
    box-sizing: border-box;
}
.avatar_block_text_row{
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    height: 100%;
    width: 100%;
}
.avatar_block_text_row > * {
    margin: 1px
    /* strip default padding on <p> */
}

.items_row{
    display: block;
    height: 62px;
    padding-top: 7px;
    padding-left: 7px;
    /* background-color: red; */
    
}
.item_container{
    display: inline-block;
    box-sizing: border-box;
    width: 47px;
    height: 48px;
    padding: 6px;
    margin-right: 7px;
    /* bottom margin for the avatar block */
    margin-bottom: 5px;
    border-radius: 2px;
    /* background-color: aqua; */
    background-image: url("/static/assets/menu_bar/Inventory_background.png");
    background-size: cover;
}
.item_container:hover {
    background-image: url("/static/assets/menu_bar/Inventory_select.png");
    padding: 4px;
    transition-property: padding;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.item_icon{
    width: 100%;
    height: 100%;
    display: flex;      
}
.menu_container {
    background-image: url("/static/assets/menu_bar/Inventory_Bar_Plain_Double_Height.png");
    background-repeat: no-repeat;
    width: 406px;
    height: 128px;
    display: flex;
    box-sizing: border-box;
}
.item_container_menu{
    display: inline-block;
    box-sizing: border-box;
    width: 96px;
    height: 48px;
    margin-right: 1px;
    padding: 10px;
    border-radius: 2px;
    background-image: url("/static/assets/menu_bar/Inventory_background_double_width.png");
    background-size: cover;
    text-align: center;
    font-size: medium;
}
.item_container_menu:hover {
    background-image: url("/static/assets/menu_bar/Inventory_select_double_width.png");
    transition-property: font-size;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    font-size: large;
}
.product_details_container {
    background-image: url("/static/assets/menu_bar/Inventory_Bar_Plain_Double_Height.png");
    background-repeat: repeat-y;
    width: 406px;
    height: 128px;
    /* display: flex; */
    box-sizing: border-box;
}
.product_details_container_row{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 7px;

}
.product_details_container_row p {
    margin: 2px;
}
.product_details {
    box-sizing: border-box;
    display: flex;
    width: 98px;
    height: 50px;
    padding: 3px;
    overflow: scroll;
    text-overflow: ellipsis;
    align-items: center;
}
.description {
    width: 262px;
}
.name {
    width: 64px;
}
.image {
    width: 58px;
    padding: unset;
}

#inventory_number_in_stock_number_text{
    margin-left: 12px;
    margin-top: 8px;
}

form label {
    display: flex;
    width: 128px;
}