body {
    box-sizing: border-box;
}
.shop_popup_container{
    /* image 203 x 98 */
    width: 609px;
    height: 294px;
    background-color: red;

    /* Inventory_style_01c.png */
    /* Inventory_style_03d.png */
    background-image: url("/static/assets/menu_bar/Inventory_style_01d.png");
    background-size: 609px 294px;
    background-repeat: no-repeat;
    background-position: center;
}

#inventory_display_top_row_border_container {
    /*  68 + 17 = 85 */
    box-sizing: border-box;
    height: 85px;
    padding-top: 17px;
    padding-left: 17px;
    width: 100%;
}

#inventory_display_avatar_block_container{
    height: 134px;
    width: 230px;
    box-sizing: border-box;

    display: flex;
    /* flex-direction: column; */
    padding-top: 16px;
    padding-left: 18px;
    /* padding-bottom: 17px; */
    padding-right: 7px;
}

.avatar_block_items_row {
    height: 100%;
    width: 60px;

    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 7px;
}

#inventory_display_avatar_container {
    width: 84px;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}
#avatar_item_container{
    height: 108px;
    width: 78px;
    background-image: none;
    margin: 0px;
}

.inventory_display_text_container{
    width: 230px;
    height: 75px;
    padding-top: 0px;
    padding-left: 18px;
    padding-right: 22px;
    padding-bottom: 32px;
    box-sizing: border-box;
}
.avatar_block_text_row{
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    height: 100%;
    width: 100%;
}
.avatar_block_text_row > * {
    margin: 1px
    /* strip default padding on <p> */
}

.items_row{
    display: block;
    height: 62px;
    padding-top: 7px;
    padding-left: 9px;
    /* background-color: red; */
    
}
.item_container{
    display: inline-block;
    box-sizing: border-box;
    width: 47px;
    height: 48px;
    padding: 6px;
    margin-right: 6px;
    /* bottom margin for the avatar block */
    margin-bottom: 5px;
    border-radius: 2px;
    /* background-color: aqua; */
    background-image: url("/static/assets/menu_bar/Inventory_background.png");
    background-size: cover;
}
.item_container:hover {
    background-image: url("/static/assets/menu_bar/Inventory_select.png");
    padding: 4px;
    /* transition-delay: 0.5s; */
    transition-property: padding;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.item_icon{
    width: 100%;
    height: 100%;
    display: flex;   
    
}